3) Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a
Curriculum for Third Year of Artificial Intelligence and Data Science (2019 Course), Savitribai Phule Pune University
http://collegecirculars.unipune.ac.in/sites/documents/Syllabus2022/Forms/AllItems.aspx #84/105
dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and quantitative
variable is income, then provide summary statistics of income grouped by the age groups.
Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of
iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("dataexp3.csv")

In [3]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.sample(4)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
6470,38,Private,98776,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
1363,54,Local-gov,168212,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,>50K
23331,31,Private,159737,10th,6,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K
24016,49,Self-emp-not-inc,179048,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,Greece,<=50K

In [5]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [6]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [7]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
df['age'].mean()

38.64358543876172

In [9]:
df['income'].max()

'>50K'

In [10]:
df.groupby(['income' ,'age']).count()

            workclass  fnlwgt  education  educational-num  marital-status  \
income age
<=50K  17         595     595        595              595             595
       18         862     862        862              862             862
       19        1050    1050       1050             1050            1050
       20        1112    1112       1112             1112            1112
       21        1090    1090       1090             1090            1090
...               ...     ...        ...              ...             ...
>50K   83           2       2          2                2               2
       84           1       1          1                1               1
       85           1       1          1                1               1
       88           1       1          1                1               1
       90          13      13         13               13              13

            occupation  relationship  race  gender  capital-gain  \
income age
<=50K  17          595           595   595     595           595
       18          862           862   862     862           862
       19         1050          1050  1050    1050          1050
       20         1112          1112  1112    1112          1112
       21         1090          1090  1090    1090          1090
...                ...           ...   ...     ...           ...
>50K   83            2             2     2       2             2
       84            1             1     1       1             1
       85            1             1     1       1             1
       88            1             1     1       1             1
       90           13            13    13      13            13

            capital-loss  hours-per-week  native-country
income age
<=50K  17            595             595             595
       18            862             862             862
       19           1050            1050            1050
       20           1112            1112            1112
       21           1090            1090            1090
...                  ...             ...             ...
>50K   83              2               2               2
       84              1               1               1
       85              1               1               1
       88              1               1               1
       90             13              13              13

[142 rows x 13 columns]

In [11]:
df.groupby(["income","age"]).max()

                   workclass   fnlwgt     education  educational-num  \
income age
<=50K  17          State-gov   806316  Some-college               10
       18          State-gov   761006  Some-college               14
       19        Without-pay  1047822  Some-college               13
       20          State-gov   745817  Some-college               14
       21        Without-pay   811615  Some-college               14
...                      ...      ...           ...              ...
>50K   83       Self-emp-inc   240150     Bachelors               13
       84       Self-emp-inc   172907  Some-college               10
       85       Self-emp-inc   155981     Bachelors               13
       88   Self-emp-not-inc   263569          11th                7
       90   Self-emp-not-inc   313986   Prof-school               15

                marital-status        occupation   relationship   race gender  \
income age
<=50K  17              Widowed  Transport-moving      Unmarried  White   Male
       18              Widowed  Transport-moving           Wife  White   Male
       19            Separated  Transport-moving           Wife  White   Male
       20            Separated  Transport-moving           Wife  White   Male
       21              Widowed  Transport-moving           Wife  White   Male
...                        ...               ...            ...    ...    ...
>50K   83   Married-civ-spouse   Farming-fishing        Husband  White   Male
       84   Married-civ-spouse             Sales        Husband  White   Male
       85              Widowed   Exec-managerial  Not-in-family  White   Male
       88   Married-civ-spouse   Farming-fishing        Husband  White   Male
       90        Never-married             Sales           Wife  White   Male

            capital-gain  capital-loss  hours-per-week native-country
income age
<=50K  17          34095          1721              50  United-States
       18          34095          1721              72  United-States
       19          34095          2129              99     Yugoslavia
       20          34095          2258              84     Yugoslavia
       21           4865          2603              98        Vietnam
...                  ...           ...             ...            ...
>50K   83          20051          2392              55  United-States
       84              0             0              35  United-States
       85              0             0              40  United-States
       88           6418             0              40  United-States
       90          20051          1825              72  United-States

[142 rows x 13 columns]

In [12]:
df.groupby(["income","age"]).min()

                   workclass  fnlwgt     education  educational-num  \
income age
<=50K  17                  ?   19752          10th                3
       18                  ?   20057          10th                3
       19                  ?   20469          10th                1
       20                  ?   19410          10th                1
       21                  ?   20728          10th                1
...                      ...     ...           ...              ...
>50K   83       Self-emp-inc  153183          10th                6
       84       Self-emp-inc  172907  Some-college               10
       85       Self-emp-inc  155981     Bachelors               13
       88   Self-emp-not-inc  263569          11th                7
       90                  ?   46786    Assoc-acdm                9

                marital-status       occupation   relationship  \
income age
<=50K  17   Married-civ-spouse                ?        Husband
       18             Divorced                ?        Husband
       19             Divorced                ?        Husband
       20             Divorced                ?        Husband
       21             Divorced                ?        Husband
...                        ...              ...            ...
>50K   83   Married-civ-spouse  Exec-managerial        Husband
       84   Married-civ-spouse            Sales        Husband
       85              Widowed  Exec-managerial  Not-in-family
       88   Married-civ-spouse  Farming-fishing        Husband
       90   Married-civ-spouse                ?        Husband

                          race  gender  capital-gain  capital-loss  \
income age
<=50K  17   Amer-Indian-Eskimo  Female             0             0
       18   Amer-Indian-Eskimo  Female             0             0
       19   Amer-Indian-Eskimo  Female             0             0
       20   Amer-Indian-Eskimo  Female             0             0
       21   Amer-Indian-Eskimo  Female             0             0
...                        ...     ...           ...           ...
>50K   83                White    Male             0             0
       84                White    Male             0             0
       85                White    Male             0             0
       88                White    Male          6418             0
       90                Black  Female             0             0

            hours-per-week native-country
income age
<=50K  17                4              ?
       18                2              ?
       19                2              ?
       20                2              ?
       21                1              ?
...                    ...            ...
>50K   83               50  United-States
       84               35  United-States
       85               40  United-States
       88               40  United-States
       90               15        Ecuador

[142 rows x 13 columns]

In [24]:
df.groupby(['education',"income"]).max()

                     age         workclass   fnlwgt  educational-num  \
education    income
10th         <=50K    90         State-gov  1210504                6
             >50K     83         State-gov   550848                6
11th         <=50K    90         State-gov  1047822                7
             >50K     88         State-gov   455995                7
12th         <=50K    81         State-gov   917220                8
             >50K     79         State-gov   548256                8
1st-4th      <=50K    90         State-gov   795830                2
             >50K     61  Self-emp-not-inc   532845                2
5th-6th      <=50K    84         State-gov   684015                3
             >50K     73  Self-emp-not-inc   386806                3
7th-8th      <=50K    90       Without-pay   750972                4
             >50K     77  Self-emp-not-inc   533660                4
9th          <=50K    90         State-gov   814850                5
             >50K     72  Self-emp-not-inc   425502                5
Assoc-acdm   <=50K    90       Without-pay  1455435               12
             >50K     90         State-gov   497788               12
Assoc-voc    <=50K    84         State-gov  1366120               11
             >50K     79         State-gov   673764               11
Bachelors    <=50K    90         State-gov   910398               13
             >50K     90         State-gov  1226583               13
Doctorate    <=50K    80         State-gov   590941               16
             >50K     79         State-gov   606111               16
HS-grad      <=50K    90       Without-pay  1268339                9
             >50K     90       Without-pay   953588                9
Masters      <=50K    90         State-gov   742903               14
             >50K     90         State-gov   765214               14
Preschool    <=50K    77         State-gov   572751                1
             >50K     61           Private   194804                1
Prof-school  <=50K    90         State-gov   431637               15
             >50K     90         State-gov   764638               15
Some-college <=50K    90       Without-pay  1490400               10
             >50K     84         State-gov   914061               10

                         marital-status         occupation   relationship  \
education    income
10th         <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
11th         <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
12th         <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
1st-4th      <=50K              Widowed   Transport-moving           Wife
             >50K    Married-civ-spouse  Machine-op-inspct        Husband
5th-6th      <=50K              Widowed   Transport-moving           Wife
             >50K         Never-married   Transport-moving           Wife
7th-8th      <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
9th          <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
Assoc-acdm   <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
Assoc-voc    <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
Bachelors    <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
Doctorate    <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed       Tech-support           Wife
HS-grad      <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
Masters      <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife
Preschool    <=50K              Widowed   Transport-moving           Wife
             >50K             Separated   Transport-moving  Not-in-family
Prof-school  <=50K              Widowed       Tech-support           Wife
             >50K               Widowed   Transport-moving           Wife
Some-college <=50K              Widowed   Transport-moving           Wife
             >50K               Widowed   Transport-moving           Wife

                      race gender  capital-gain  capital-loss  hours-per-week  \
education    income
10th         <=50K   White   Male         34095          3770              99
             >50K    White   Male         99999          2559              99
11th         <=50K   White   Male          6849          2754              99
             >50K    White   Male         15024          2824              99
12th         <=50K   White   Male          5013          2258              99
             >50K    White   Male         18481          1848              84
1st-4th      <=50K   White   Male          4386          2603              96
             >50K    White   Male          7688             0              67
5th-6th      <=50K   White   Male          6497          2603              99
             >50K    White   Male         99999          1887              84
7th-8th      <=50K   White   Male         10566          3900              99
             >50K    White   Male          7688          1977              99
9th          <=50K   White   Male          6849          2163              99
             >50K    White   Male         99999          2231              70
Assoc-acdm   <=50K   White   Male          7443          2377              99
             >50K    White   Male         99999          2824              99
Assoc-voc    <=50K   White   Male          6849          2603              99
             >50K    White   Male         99999          3004              99
Bachelors    <=50K   White   Male         10566          3770              99
             >50K    White   Male         99999          3004              99
Doctorate    <=50K   White   Male          5013          2179              99
             >50K    White   Male         99999          3683              99
HS-grad      <=50K   White   Male         41310          4356              99
             >50K    White   Male         99999          2559              99
Masters      <=50K   White   Male         41310          2457              99
             >50K    White   Male         99999          2824              99
Preschool    <=50K   White   Male         41310          1719              75
             >50K    Black   Male         14344             0              40
Prof-school  <=50K   White   Male          4650          2339              99
             >50K    White   Male         99999          2824              99
Some-college <=50K   White   Male         34095          4356              99
             >50K    White   Male         99999          3004              99

                    native-country
education    income
10th         <=50K      Yugoslavia
             >50K    United-States
11th         <=50K         Vietnam
             >50K          Vietnam
12th         <=50K         Vietnam
             >50K    United-States
1st-4th      <=50K         Vietnam
             >50K    United-States
5th-6th      <=50K         Vietnam
             >50K       Yugoslavia
7th-8th      <=50K      Yugoslavia
             >50K    United-States
9th          <=50K         Vietnam
             >50K       Yugoslavia
Assoc-acdm   <=50K      Yugoslavia
             >50K       Yugoslavia
Assoc-voc    <=50K      Yugoslavia
             >50K          Vietnam
Bachelors    <=50K      Yugoslavia
             >50K       Yugoslavia
Doctorate    <=50K   United-States
             >50K          Vietnam
HS-grad      <=50K      Yugoslavia
             >50K       Yugoslavia
Masters      <=50K   United-States
             >50K    United-States
Preschool    <=50K   United-States
             >50K    United-States
Prof-school  <=50K         Vietnam
             >50K    United-States
Some-college <=50K      Yugoslavia
             >50K       Yugoslavia

In [14]:
df1 = sns.load_dataset('iris')

In [15]:
df1.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
35            5.0          3.2           1.2          0.2      setosa
56            6.3          3.3           4.7          1.6  versicolor
138           6.0          3.0           4.8          1.8   virginica
6             4.6          3.4           1.4          0.3      setosa
8             4.4          2.9           1.4          0.2      setosa

In [16]:
df1.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [17]:
df1['sepal_length'].max()

7.9

In [18]:
df1['petal_length'].mean()

3.7580000000000005

In [19]:
df1['petal_width'].std()

0.7622376689603465

In [20]:
df1.groupby(['sepal_length','species']).max()

                         sepal_width  petal_length  petal_width
sepal_length species
4.3          setosa              3.0           1.1          0.1
4.4          setosa              3.2           1.4          0.2
4.5          setosa              2.3           1.3          0.3
4.6          setosa              3.6           1.5          0.3
4.7          setosa              3.2           1.6          0.2
4.8          setosa              3.4           1.9          0.3
4.9          setosa              3.6           1.5          0.2
             versicolor          2.4           3.3          1.0
             virginica           2.5           4.5          1.7
5.0          setosa              3.6           1.6          0.6
             versicolor          2.3           3.5          1.0
5.1          setosa              3.8           1.9          0.5
             versicolor          2.5           3.0          1.1
5.2          setosa              4.1           1.5          0.2
             versicolor          2.7           3.9          1.4
5.3          setosa              3.7           1.5          0.2
5.4          setosa              3.9           1.7          0.4
             versicolor          3.0           4.5          1.5
5.5          setosa              4.2           1.4          0.2
             versicolor          2.6           4.4          1.3
5.6          versicolor          3.0           4.5          1.5
             virginica           2.8           4.9          2.0
5.7          setosa              4.4           1.7          0.4
             versicolor          3.0           4.5          1.3
             virginica           2.5           5.0          2.0
5.8          setosa              4.0           1.2          0.2
             versicolor          2.7           4.1          1.2
             virginica           2.8           5.1          2.4
5.9          versicolor          3.2           4.8          1.8
             virginica           3.0           5.1          1.8
6.0          versicolor          3.4           5.1          1.6
             virginica           3.0           5.0          1.8
6.1          versicolor          3.0           4.7          1.4
             virginica           3.0           5.6          1.8
6.2          versicolor          2.9           4.5          1.5
             virginica           3.4           5.4          2.3
6.3          versicolor          3.3           4.9          1.6
             virginica           3.4           6.0          2.5
6.4          versicolor          3.2           4.5          1.5
             virginica           3.2           5.6          2.3
6.5          versicolor          2.8           4.6          1.5
             virginica           3.2           5.8          2.2
6.6          versicolor          3.0           4.6          1.4
6.7          versicolor          3.1           5.0          1.7
             virginica           3.3           5.8          2.5
6.8          versicolor          2.8           4.8          1.4
             virginica           3.2           5.9          2.3
6.9          versicolor          3.1           4.9          1.5
             virginica           3.2           5.7          2.3
7.0          versicolor          3.2           4.7          1.4
7.1          virginica           3.0           5.9          2.1
7.2          virginica           3.6           6.1          2.5
7.3          virginica           2.9           6.3          1.8
7.4          virginica           2.8           6.1          1.9
7.6          virginica           3.0           6.6          2.1
7.7          virginica           3.8           6.9          2.3
7.9          virginica           3.8           6.4          2.0

In [21]:
df1.groupby(['sepal_length','species']).mean()

                         sepal_width  petal_length  petal_width
sepal_length species
4.3          setosa         3.000000      1.100000     0.100000
4.4          setosa         3.033333      1.333333     0.200000
4.5          setosa         2.300000      1.300000     0.300000
4.6          setosa         3.325000      1.325000     0.225000
4.7          setosa         3.200000      1.450000     0.200000
4.8          setosa         3.180000      1.580000     0.200000
4.9          setosa         3.200000      1.450000     0.150000
             versicolor     2.400000      3.300000     1.000000
             virginica      2.500000      4.500000     1.700000
5.0          setosa         3.362500      1.450000     0.287500
             versicolor     2.150000      3.400000     1.000000
5.1          setosa         3.600000      1.562500     0.312500
             versicolor     2.500000      3.000000     1.100000
5.2          setosa         3.666667      1.466667     0.166667
             versicolor     2.700000      3.900000     1.400000
5.3          setosa         3.700000      1.500000     0.200000
5.4          setosa         3.660000      1.540000     0.320000
             versicolor     3.000000      4.500000     1.500000
5.5          setosa         3.850000      1.350000     0.200000
             versicolor     2.440000      3.980000     1.180000
5.6          versicolor     2.820000      4.060000     1.300000
             virginica      2.800000      4.900000     2.000000
5.7          setosa         4.100000      1.600000     0.350000
             versicolor     2.820000      4.100000     1.220000
             virginica      2.500000      5.000000     2.000000
5.8          setosa         4.000000      1.200000     0.200000
             versicolor     2.666667      4.000000     1.133333
             virginica      2.733333      5.100000     2.066667
5.9          versicolor     3.100000      4.500000     1.650000
             virginica      3.000000      5.100000     1.800000
6.0          versicolor     2.800000      4.525000     1.425000
             virginica      2.600000      4.900000     1.650000
6.1          versicolor     2.875000      4.500000     1.325000
             virginica      2.800000      5.250000     1.600000
6.2          versicolor     2.550000      4.400000     1.400000
             virginica      3.100000      5.100000     2.050000
6.3          versicolor     2.700000      4.666667     1.466667
             virginica      2.933333      5.366667     1.983333
6.4          versicolor     3.050000      4.400000     1.400000
             virginica      2.920000      5.460000     2.060000
6.5          versicolor     2.800000      4.600000     1.500000
             virginica      3.050000      5.400000     2.000000
6.6          versicolor     2.950000      4.500000     1.350000
6.7          versicolor     3.066667      4.700000     1.533333
             virginica      3.040000      5.600000     2.220000
6.8          versicolor     2.800000      4.800000     1.400000
             virginica      3.100000      5.700000     2.200000
6.9          versicolor     3.100000      4.900000     1.500000
             virginica      3.133333      5.400000     2.233333
7.0          versicolor     3.200000      4.700000     1.400000
7.1          virginica      3.000000      5.900000     2.100000
7.2          virginica      3.266667      5.966667     1.966667
7.3          virginica      2.900000      6.300000     1.800000
7.4          virginica      2.800000      6.100000     1.900000
7.6          virginica      3.000000      6.600000     2.100000
7.7          virginica      3.050000      6.600000     2.200000
7.9          virginica      3.800000      6.400000     2.000000

In [22]:
df1.groupby(['sepal_length','species']).min()

                         sepal_width  petal_length  petal_width
sepal_length species
4.3          setosa              3.0           1.1          0.1
4.4          setosa              2.9           1.3          0.2
4.5          setosa              2.3           1.3          0.3
4.6          setosa              3.1           1.0          0.2
4.7          setosa              3.2           1.3          0.2
4.8          setosa              3.0           1.4          0.1
4.9          setosa              3.0           1.4          0.1
             versicolor          2.4           3.3          1.0
             virginica           2.5           4.5          1.7
5.0          setosa              3.0           1.2          0.2
             versicolor          2.0           3.3          1.0
5.1          setosa              3.3           1.4          0.2
             versicolor          2.5           3.0          1.1
5.2          setosa              3.4           1.4          0.1
             versicolor          2.7           3.9          1.4
5.3          setosa              3.7           1.5          0.2
5.4          setosa              3.4           1.3          0.2
             versicolor          3.0           4.5          1.5
5.5          setosa              3.5           1.3          0.2
             versicolor          2.3           3.7          1.0
5.6          versicolor          2.5           3.6          1.1
             virginica           2.8           4.9          2.0
5.7          setosa              3.8           1.5          0.3
             versicolor          2.6           3.5          1.0
             virginica           2.5           5.0          2.0
5.8          setosa              4.0           1.2          0.2
             versicolor          2.6           3.9          1.0
             virginica           2.7           5.1          1.9
5.9          versicolor          3.0           4.2          1.5
             virginica           3.0           5.1          1.8
6.0          versicolor          2.2           4.0          1.0
             virginica           2.2           4.8          1.5
6.1          versicolor          2.8           4.0          1.2
             virginica           2.6           4.9          1.4
6.2          versicolor          2.2           4.3          1.3
             virginica           2.8           4.8          1.8
6.3          versicolor          2.3           4.4          1.3
             virginica           2.5           4.9          1.5
6.4          versicolor          2.9           4.3          1.3
             virginica           2.7           5.3          1.8
6.5          versicolor          2.8           4.6          1.5
             virginica           3.0           5.1          1.8
6.6          versicolor          2.9           4.4          1.3
6.7          versicolor          3.0           4.4          1.4
             virginica           2.5           5.2          1.8
6.8          versicolor          2.8           4.8          1.4
             virginica           3.0           5.5          2.1
6.9          versicolor          3.1           4.9          1.5
             virginica           3.1           5.1          2.1
7.0          versicolor          3.2           4.7          1.4
7.1          virginica           3.0           5.9          2.1
7.2          virginica           3.0           5.8          1.6
7.3          virginica           2.9           6.3          1.8
7.4          virginica           2.8           6.1          1.9
7.6          virginica           3.0           6.6          2.1
7.7          virginica           2.6           6.1          2.0
7.9          virginica           3.8           6.4          2.0

In [23]:
df1.groupby(['sepal_length','species']).std()

                         sepal_width  petal_length  petal_width
sepal_length species
4.3          setosa              NaN           NaN          NaN
4.4          setosa         0.152753      0.057735     0.000000
4.5          setosa              NaN           NaN          NaN
4.6          setosa         0.221736      0.221736     0.050000
4.7          setosa         0.000000      0.212132     0.000000
4.8          setosa         0.204939      0.204939     0.070711
4.9          setosa         0.270801      0.057735     0.057735
             versicolor          NaN           NaN          NaN
             virginica           NaN           NaN          NaN
5.0          setosa         0.192261      0.151186     0.145774
             versicolor     0.212132      0.141421     0.000000
5.1          setosa         0.200000      0.168502     0.112599
             versicolor          NaN           NaN          NaN
5.2          setosa         0.378594      0.057735     0.057735
             versicolor          NaN           NaN          NaN
5.3          setosa              NaN           NaN          NaN
5.4          setosa         0.250998      0.167332     0.109545
             versicolor          NaN           NaN          NaN
5.5          setosa         0.494975      0.070711     0.000000
             versicolor     0.114018      0.268328     0.130384
5.6          versicolor     0.216795      0.336155     0.141421
             virginica           NaN           NaN          NaN
5.7          setosa         0.424264      0.141421     0.070711
             versicolor     0.148324      0.367423     0.130384
             virginica           NaN           NaN          NaN
5.8          setosa              NaN           NaN          NaN
             versicolor     0.057735      0.100000     0.115470
             virginica      0.057735      0.000000     0.288675
5.9          versicolor     0.141421      0.424264     0.212132
             virginica           NaN           NaN          NaN
6.0          versicolor     0.496655      0.450000     0.287228
             virginica      0.565685      0.141421     0.212132
6.1          versicolor     0.095743      0.336650     0.095743
             virginica      0.282843      0.494975     0.282843
6.2          versicolor     0.494975      0.141421     0.141421
             virginica      0.424264      0.424264     0.353553
6.3          versicolor     0.529150      0.251661     0.152753
             virginica      0.350238      0.432049     0.386868
6.4          versicolor     0.212132      0.141421     0.141421
             virginica      0.216795      0.151658     0.207364
6.5          versicolor          NaN           NaN          NaN
             virginica      0.100000      0.316228     0.163299
6.6          versicolor     0.070711      0.141421     0.070711
6.7          versicolor     0.057735      0.300000     0.152753
             virginica      0.328634      0.234521     0.277489
6.8          versicolor          NaN           NaN          NaN
             virginica      0.141421      0.282843     0.141421
6.9          versicolor          NaN           NaN          NaN
             virginica      0.057735      0.300000     0.115470
7.0          versicolor          NaN           NaN          NaN
7.1          virginica           NaN           NaN          NaN
7.2          virginica      0.305505      0.152753     0.472582
7.3          virginica           NaN           NaN          NaN
7.4          virginica           NaN           NaN          NaN
7.6          virginica           NaN           NaN          NaN
7.7          virginica      0.525991      0.346410     0.141421
7.9          virginica           NaN           NaN          NaN